# Dependencies
markdown:         redcarpet
highlighter:      pygments
gems:
  - jekyll-archives
  - redcarpet
  - jekyll-paginate

# Permalinks
permalink:        none

# Setup
title:            A Jekyll / Foundation 6 blog template
tagline:          A Jekyll / Foundation 6 blog template
description:      A barebones blog template
url:              http://localhost
baseurl:          /
source:           ./src
exclude:          [assets]
destination:      ./build
keep_files:       [assets]

# Portfolio
portfolio:
    dir: portfolio
    sections:
        a:
            layout: illustration.html
            index: index.html
            name: Illustrations
            slug: illustrations
        b:
            layout: print.html
            index: index.html
            name: Prints
            slug: prints

# Archives
jekyll-archives:
    enabled: [tags,categories,year,month]
    layout: 'archive'
    permalinks:
        year: '/:year/'
        month: '/:year/:month/'
        day: '/:year/:month/:day/'
        tag: '/tag/:name/'
        category: '/category/:name/'


author:
    name:           'Richard Tugwell'

paginate:         5

# Custom vars
version:          1.0.0

github:
    repo:           https://github.com/Richardtugwell/foundation-blog-jekyll
